# Исключаем папки с конфигурацией IDE (например, PyCharm или IntelliJ IDEA)
.idea/

# Исключаем кеши Python
__pycache__/
*.py[cod]

# Исключаем миграции, если они закоммичены
tracker/migrations/

# Исключаем статические файлы, если они генерируются автоматически
/static/

# Исключаем файлы базы данных
db.sqlite3

# Исключаем файлы окружения
.env

# Исключаем виртуальные окружения Python
venv/
