{% extends 'tracker/base.html' %}

{% block content %}
    <h2>Календарь тренировок за {{ month_name }} {{ year }}</h2>

    <div class="mb-3">
        <a href="{% url 'calendar' prev_year prev_month %}" class="btn btn-secondary">&laquo; Предыдущий месяц</a>
        <a href="{% url 'calendar_current' %}" class="btn btn-primary">Текущий месяц</a>
        <a href="{% url 'calendar' next_year next_month %}" class="btn btn-secondary">Следующий месяц &raquo;</a>
    </div>

    <table class="table table-bordered text-center">
        <thead>
        <tr>
            <th>Пн</th>
            <th>Вт</th>
            <th>Ср</th>
            <th>Чт</th>
            <th>Пт</th>
            <th class="text-success">Сб</th>
            <th class="text-danger">Вс</th>
        </tr>
        </thead>
        <tbody>
        {% for week in month_days %}
            <tr>
                {% for day in week %}
                    {% if day == 0 %}
                        <td></td>
                    {% else %}
                        {% if day in workout_days %}
                            <td class="workout-day">
                                <strong>{{ day }}</strong>
                                {% for workout in workouts %}
                                    {% if workout.start_time.day == day %}
                                        <br>
                                        <a href="{% url 'workout_detail' workout.id %}">Подробнее</a>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% else %}
                            <td>{{ day }}</td>
                        {% endif %}

                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extra_head %}
    <style>
        .workout-day {
            background-color: #dff0d8;
        }
    </style>
{% endblock %}
