{% extends 'tracker/base.html' %}

{% load static %}

{% block content %}
    <h2>Ваш Прогресс</h2>

    <!-- Общее время тренировок -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Общее время тренировок</h5>
            <p class="card-text">{{ total_minutes|floatformat:2 }} минут</p>
        </div>
    </div>

    <!-- Количество тренировок в месяц -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Количество тренировок в месяц</h5>
            <canvas id="workoutsPerMonthChart"></canvas>
        </div>
    </div>

    <!-- Прогресс по упражнениям -->
    {% for exercise, data in exercise_progress.items %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Прогресс по упражнению: {{ exercise }}</h5>
                <canvas id="progressChart_{{ forloop.counter }}"></canvas>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block extra_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {{ months|json_script:"months-data" }}
    {{ workouts_counts|json_script:"workouts-counts-data" }}

    {% for exercise, data in exercise_progress.items %}
        {% with months_id="months-ex-"|add:forloop.counter0 %}
            {{ data.months|json_script:months_id }}
        {% endwith %}
        {% with max_weights_id="max-weights-ex-"|add:forloop.counter0 %}
            {{ data.max_weights|json_script:max_weights_id }}
        {% endwith %}
        {% with max_reps_id="max-reps-ex-"|add:forloop.counter0 %}
            {{ data.max_reps|json_script:max_reps_id }}
        {% endwith %}
    {% endfor %}

    <script>
        const exerciseCount = {{ exercise_count }};
    </script>

    <script src="{% static 'tracker/js/progress.js' %}"></script>
{% endblock %}
